<VirtualHost *:443>
    ServerName {{ domain_name }}
    DocumentRoot /var/www/html/wordpress

    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/{{ domain_name }}.pem
    SSLCertificateKeyFile /etc/ssl/private/{{ domain_name }}.key

    <Directory /var/www/html/wordpress>
        AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>